<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="icon" href="favicon.png" type="image/x-icon"/>
      <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="bootstrap-4.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="jquery/jquery.min.js"></script>
      <script src="bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
      <link href="css/simple-sidebar.css" rel="stylesheet">
      <title>Local Remesas</title>
   </head>
   <body>
      <!-- app -->
      <div id="app">
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">Local Remesas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="agregar_pagos.html">Agregar Pagos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pagos_in.html">Pagos entrantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pagos_out.html">Pagos salientes</a>
            </li>
            <li class="nav-item">
                  <a class="nav-link" href="pagos_all.html">Todos los pagos</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="bancos.html">Bancos</a></li>
            <li class="nav-item"><a class="nav-link" href="facturacion.html">Facturación</a></li>
            <li v-if="tipo_usuario=='ADMIN'" class="nav-item active">
              <a class="nav-link" href="admin.html">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <div id="wrapper" class="toggled">

              <!-- Sidebar -->
              <div id="sidebar-wrapper">
                  <ul class="sidebar-nav">
                      <li class="sidebar-brand">
                          <a href="#">
                              Sección administrativa
                          </a>
                      </li>
                      <li>
                          <a :class="{'actives':clase=='Tasas'}" href="#" @click="setClase('Tasas')">Tasas</a>
                      </li>
                      <li>
                          <a :class="{'actives':clase=='Usuarios'}" href="#" @click="setClase('Usuarios')">Usuarios</a>
                      </li>
                      <li>
                        <a :class="{'actives':clase=='Bancos'}" href="#" @click="setClase('Bancos')">Bancos</a>
                     </li>
                     <li>
                        <a :class="{'actives':clase=='Prestamos'}" href="#" @click="setClase('Prestamos')">Prestamos</a>
                     </li>
                     <li>
                        <a :class="{'actives':clase=='Estadisticas'}" href="#" @click="setClase('Estadisticas')">Estadísticas</a>
                     </li>
                  </ul>
              </div>
              <!-- /#sidebar-wrapper -->

              <!-- Page Content -->
              <div v-if="clase=='Tasas'" id="page-content-wrapper">
                  <div class="container-fluid">
                      <h1>Tasas Local Remesas</h1>
                      <p>En esta sección se modificaran las tasas de todas las divisas ofertadas.</p>
                  </div>
              </div>
              <!-- /#page-content-wrapper -->

          
         <div v-if="clase=='Tasas'" class="container col-md-8 mt-5">
            <div v-for="(tasa, index) in tasas" class="row">
               <div class="form-group mr-2">
                     <input type="text" class="form-control" :value="tasa.divisa" disabled>   
               </div>
               <div class="form-group mr-2">
                  <input type="text" class="form-control" :placeholder="'TASA ' + tasa.divisa" :id="tasa.divisa" :value="tasa.tasa">
               </div>
               <div class="form-group mr-2">
                  <input type="text" class="form-control" :value="format(parseFloat(tasa.tasa))" disabled>
               </div>
               <div class="form-group">
                  <input class="btn btn-primary" type="button" value="Actualizar" @click="actualizarTasa(tasa.divisa)">
               </div>
            </div>
         </div>
         <div v-if="clase=='Usuarios'" class="container">
            <div class="form-group">
               <label>ID de Usuario</label>
               <input v-model="id" @keyup="getUserInfo()" type="text" class="form-control" onClick="this.select();" maxlength="10">
               <small class="text-danger">{{small}}</small>
            </div>
            <div v-if="usuario">
               <table class="table table-hover text-center table-lg container border rounded">
                     <thead>
                        <tr>
                           <th scope="col">Username</th>
                           <th scope="col">Tipo</th>
                           <th scope="col">Fecha de registro</th>
                           <th scope="col">Modificar</th>
                           <th scope="col">Eliminar</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td scope="col">{{usuario.username}}</th>
                           <td scope="col">
                           <select class="form-control" id="tipo" v-model:value="tipo_usuario">
                              <option v-for="tipo in tipos2">{{tipo}}</option>
                            </select>
                           </td>
                           <td scope="col">{{usuario.reg_date}}</th>   
                           <td scope="col"><button type="button" class="btn btn-outline-primary btn-sm" @click="actualizarUsuario()">Modificar</button></td>
                           <td scope="col">
                              <button type="button" class="btn btn-outline-danger btn-sm" @click="eliminarUsuario()">X</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <div id="mensaje" class="alert alert-success" v-if="mensaje">
                    {{mensaje}}
                  </div>
            </div>
         </div>
         <div v-if="clase=='Bancos'" class="container">
            <div class="text-center mb-3">
               <button type="button" :class="{'btn btn-primary mt-3': registro, 'btn btn-light mt-3': !registro}" @click="registro = true, getBancos(), setRegistro(true)">Saldo</button>
               <button type="button" :class="{'btn btn-light mt-3': registro, 'btn btn-primary mt-3': !registro}" @click="registro = false, getRegistros(), setRegistro(false)">Registro</button>
           </div>
          <div v-if="registro" class="container">
            <div class="row ml-1">
            <div class="form-group mr-2">
                <input type="text" class="form-control" placeholder="Nombre del banco" id="nombre">
             </div>
             <div class="form-group mr-2">
                <input type="text" class="form-control" placeholder="Saldo" id="saldo">
             </div>
             <div class="form-group mr-2">
                  <input type="text" class="form-control" placeholder="Divisa" id="divisa">
               </div>
             <div class="form-group">
                  <input class="btn btn-primary" type="button" value="Agregar" @click="agregarBanco()">
               </div>
             </div>
           <table class="table table-hover text-center table-lg container border rounded">
                 <thead>
                    <tr>
                       <th scope="col">Nombre</th>
                       <th scope="col">Divisa</th>
                       <th scope="col">Nuevo saldo</th>
                       <th scope="col">Saldo actual</th>
                       <th scope="col">Actualizar</th>
                       <th scope="col">Eliminar</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr v-for="banco in bancos">
                       <td scope="col">{{banco.nombre}}</td>
                       <td scope="col">{{banco.divisa}}</td>
                       <td scope="col"><input type="text" class="form-control" placeholder="Saldo" :id="banco.id" :value="banco.saldo"></td>
                       <td scope="col"><input type="text" class="form-control" :value=format(banco.saldo) disabled></th>   
                       <td scope="col"><button type="button" class="btn btn-outline-primary btn-sm" @click="actualizarSaldo(banco.id)">Actualizar</button></td>
                       <td scope="col"><button type="button" class="btn btn-outline-primary btn-sm" @click="eliminarBanco(banco.id)">X</button></td>
                    </tr>
                 </tbody>
              </table>
            </div>
            <div v-if="!registro" class="container">
                  <table class="table table-hover text-center table-lg container border rounded">
                        <thead>
                           <tr>
                              <th scope="col">Banco</th>
                              <th scope="col">Monto</th>
                              <th scope="col">Nota</th>
                              <th scope="col">Agregar</th>
                           </tr>
                        </thead>
                        <tbody>
                           <td scope="col">
                                 <select v-model="banco_id" class="form-control" id="banco" @change="onChange($event)">
                                    <option v-for="banco in bancos" v-bind:value="banco.id">{{banco.nombre}} {{banco.divisa}}</option>
                                 </select>
                           </td>
                           <td scope="col"><input type="text" class="form-control" placeholder="Monto" v-model="monto"></td>
                           <td scope="col"><input type="text" class="form-control" placeholder="Nota" v-model="nota"></td>
                           <td scope="col"><button type="button" class="btn btn-outline-primary btn-md" @click="agregarRegistro()">+</button></td>
                        </tbody>
                     </table>
                     <!-- <select class="form-control col-md-3 container mb-3" id="banco_show" @change="getRegistros($event)">
                           <option v-for="banco in bancos" :value="banco.id">{{banco.nombre}} {{banco.divisa}}</option>
                     </select> -->
                     <div v-if="registros" class="container">
                           <table class="table table-hover text-center table-lg container border rounded">
                                 <thead>
                                    <tr>
                                       <th scope="col">ID</th>
                                       <th scope="col">Monto</th>
                                       <th scope="col">Nota</th>
                                       <th scope="col">Fecha</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                       <tr v-for="reg in registros">
                                          <td scope="col">{{reg.id}}</td>
                                          <td scope="col">{{reg.monto}}</td>
                                          <td scope="col">{{reg.nota}}</td>
                                          <td scope="col">{{reg.reg_date}}</td>
                                       </tr>
                                 </tbody>
                           </table>
                     </div>
            </div>
         </div>
         <div v-if="clase=='Prestamos'" class="container">
               <div
               v-for="(mensaje, index) in mensajes"
               :class="{'alert container col-md-4 mt-2': true, 'alert-success': !errores[index], 'alert-danger': errores[index]}"
               role="alert"
            >
               {{ mensaje }}
            </div>
               <label class="ml-3 mt-3">Agregar pago de prestamo.</label>
               <table class="ml-3 table table-hover text-center table-lg container border rounded">
                     <thead>
                        <tr>
                           <th scope="col">Banco</th>
                           <th scope="col">Monto</th>
                           <th scope="col">Referencia</th>
                           <th scope="col">Agregar</th>
                        </tr>
                     </thead>
                     <tbody>
                        <td scope="col">
                              <select class="form-control" @change="onChanges($event)">
                                 <option v-for="bank in bancos" :value="bank.id">{{bank.nombre}} {{bank.divisa}}</option>
                              </select>
                        </td>
                        <td scope="col"><input type="text" class="form-control" placeholder="Monto" v-model="amount"></td>
                        <td scope="col"><input type="text" class="form-control" placeholder="Referencia" v-model="referencia"></td>
                        <td scope="col"><button type="button" class="btn btn-outline-primary btn-md" @click="revisarPrestamo()">+</button></td>
                     </tbody>
                  </table>
         <div class="form-group col-md-6 container">
            <label>ID de Usuario</label>
            <input v-model="id" type="text" class="form-control" maxlength="10">
            <small class="text-danger">{{small}}</small>
         </div>
         <table v-if="id" class="table table-hover text-center table-sm container border rounded col-md-6 table-danger">
               <thead>
                  <tr>
                     <th scope="col">ID Usuario</th>
                     <th scope="col">Monto</th>
                     <th scope="col">Divisa</th>
                     <th scope="col">Fecha</th>
                  </tr>
               </thead>
               <tbody>
                  <tr v-for="prestamo in filterPrestamos">
                     <td scope="col">{{prestamo.id_usuario}}</th>
                     <td scope="col">{{prestamo.monto}}</th>
                     <td scope="col">{{prestamo.divisa}}</th>
                     <td scope="col">{{prestamo.fecha}}</th>
                  </tr>
               </tbody>
            </table>
         <table v-if="!id" class="table table-hover text-center table-sm container border rounded col-md-6 table-danger">
            <thead>
               <tr>
                  <th scope="col">ID Usuario</th>
                  <th scope="col">Monto</th>
                  <th scope="col">Divisa</th>
                  <th scope="col">Fecha</th>
               </tr>
            </thead>
            <tbody>
               <tr v-for="prestamo in prestamos">
                  <td scope="col">{{prestamo.id_usuario}}</td>
                  <td scope="col">{{prestamo.monto}}</td>
                  <td scope="col">{{prestamo.divisa}}</td>
                  <td scope="col">{{prestamo.fecha}}</td>
               </tr>
            </tbody>
         </table>
         <table v-if="id" class="table table-hover text-center table-sm container border rounded col-md-6 table-success">
            <thead>
               <tr>
                  <th scope="col">ID Usuario</th>
                  <th scope="col">Monto</th>
                  <th scope="col">Divisa</th>
                  <th scope="col">Fecha</th>
               </tr>
            </thead>
            <tbody>
               <tr v-for="prestamo2 in filterPrestamos2">
                  <td :class="{'table-warning':prestamo2.monto < 0}" scope="col">{{prestamo2.id_usuario}}</td>
                  <td :class="{'table-warning':prestamo2.monto < 0}" scope="col">{{format(parseFloat(prestamo2.monto))}}</td>
                  <td :class="{'table-warning':prestamo2.monto < 0}" scope="col">{{prestamo2.divisa}}</td>
                  <td :class="{'table-warning':prestamo2.monto < 0}" scope="col">{{prestamo2.fecha}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div v-if="clase=='Estadisticas'" id="page-content-wrapper">
         <div class="container-fluid">
               <div class="form-row">
                     <div class="form-group col-md-2 ml-4">
                        <input type="date" name="bday" :min="min" :max="max" class="form-control" v-model:value="date">
                     </div>
                     <div>
                        <button type="button" class="btn btn-primary" @click="cargar_pagos_all">Buscar</button>
                     </div>
                  </div>
            <table class="table table-hover text-center table-lg container border rounded">
               <thead>
                  <tr class="thead-dark">
                     <th scope="col">Divisa</th>
                     <th scope="col">Total Divisa</th>
                     <th scope="col">Total VES</th>
                     <th scope="col">Tasa Implícita</th>
                  </tr>
               </thead>
               <tbody>
                  <tr v-for="divisa in divisas">
                     <td scope="col"><bdi class="font-weight-bold">{{divisa.divisa}}</bdi></td>
                     <td scope="col">{{total(0, 'divisa', divisa.divisa, 'amount')}}</td>
                     <td scope="col">{{total(0, 'divisa', divisa.divisa, 'monto')}}</td>
                     <td scope="col">{{tasa(((total(1, 'divisa', divisa.divisa, 'monto'))/(total(1, 'divisa', divisa.divisa, 'amount'))))}}</td>
                  </tr>
               </tbody>
               <thead>
                     <tr class="thead-dark">
                        <th scope="col">Banco</th>
                        <th scope="col">Total Divisa</th>
                        <th scope="col">Total VES</th>
                        <th scope="col">Tasa Implícita</th>
                     </tr>
                  </thead>
                  <tbody>
                        <tr v-for="banco in filterBancos">
                           <td scope="col">{{banco.nombre}} <bdi class="font-weight-bold">{{banco.divisa}}</bdi></td>
                           <td scope="col">{{total(0, 'id_banco_in', banco.id, 'amount')}}</td>
                           <td scope="col">{{total(0, 'id_banco_in', banco.id, 'monto')}}</td>
                           <td scope="col">{{tasa(((total(1, 'id_banco_in', banco.id, 'monto'))/(total(1, 'id_banco_in', banco.id, 'amount'))))}}</td>
                        </tr>
                     </tbody>
                     <thead>
                           <tr class="thead-dark">
                              <th scope="col">Usuario</th>
                              <th scope="col">Total Divisa</th>
                              <th scope="col">Total VES</th>
                              <th scope="col">Tasa Implícita</th>
                           </tr>
                        </thead>
                        <tbody v-for="tipo in tipos">
                           <tr v-for="divisa in divisas">
                              <td scope="col" >{{tipo}} <bdi class="font-weight-bold">{{divisa.divisa}}</bdi></td>
                              <td scope="col">{{total(0, 'tipo', tipo, 'amount', divisa.divisa)}}</td>
                              <td scope="col">{{total(0, 'tipo', tipo, 'monto', divisa.divisa)}}</td>
                              <td scope="col">{{tasa(((total(1, 'tipo', tipo, 'monto', divisa.divisa))/(total(1, 'tipo', tipo, 'amount', divisa.divisa))))}}</td>
                           </tr>
                        </tbody>
            </table>
         </div>
      </div>
   </div>
   </div>
   </body>
   <script src="./vue.js"></script>
   <script src="./axios.min.js"></script>
   <script src="admin.js"></script>
</html>